.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 8px;
    justify-content: center;

    button {
        width: 100px;
        height: 100px;
        font-size: 36px;
        font-weight: bold;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        background: #3d3d63;
        color: white;
        transition: 0.2s;

        &:hover {
            background: #50507a;
            transform: scale(1.05);
        }
    }
}

button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}